@model BookStore1.Models.MyBooks

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Books</h1>

<div class="mybooks">
    @if (Model != null && Model.Books != null)
    {
        @foreach (var book in Model.Books)
        {
            <div class="card-group booksIndex">
                <div class="card">
                    <img class="card-img-top" src="@Html.DisplayFor(modelItem => book.FrontPage)" alt="Book Front Page" height="400px" width="250px">
                    <div class="card-body">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => book.Title)
                        </h5>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => book.Description)
                        </p>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => book.YearPublished), @Html.DisplayFor(modelItem => book.Publisher)
                        </p>
                    </div>
                    <div class="buttons">
                        <button class="details"><a asp-action="Details" asp-route-id="@book.Id">Details</a> </button>
                    </div>
                </div>
            </div>
        }
    }
</div>